Repository ruby-go-gem/go-gem-wrapper, changes with the labels that .github/labeler.yml gives for each.
All labels: go-module, ruby-gem, ruby_h_to_go

Transfer to ruby-go-gem org
  CHANGELOG.md
  README.md
  _tools/patch_for_go_gem/README.md
  _tools/patch_for_go_gem/patch_for_go_gem.rb
  _tools/patch_for_go_gem/spec/patch_for_go_gem_spec.rb
  gem/README.md
  gem/go_gem.gemspec
  go.mod
  ruby/go_struct.go
  ruby/testdata/example/example.gemspec
  ruby/testdata/example/ext/example/benchmark.go
  ruby/testdata/example/ext/example/example.go
  ruby/testdata/example/ext/example/go.mod
  ruby/testdata/example/ext/example/go.sum
  ruby/testdata/example/ext/example/go_struct.go
  ruby/testdata/example/ext/example/tests.go
  ruby/wrapper_test.go
Labels: go-module, ruby-gem

Write changelog
  CHANGELOG.md
Labels: none

Bump version
  Gemfile.lock
  gem/lib/go_gem/version.rb
Labels: ruby-gem

Migrate to ruby-go-gem's app
  .github/workflows/rbs-collection-updater.yml
Labels: none

Run `bundle exe rbs collection update`
  rbs_collection.lock.yaml
Labels: none

Add rbs-collection-updater label [ci skip]
  .github/workflows/rbs-collection-updater.yml
Labels: none

Add rbs-collection-updater label [ci skip]
  .github/workflows/rbs-collection-updater.yml
Labels: none

Requires Go 1.20+
  .github/workflows/build.yml
  .github/workflows/ruby_h_to_go.yml
  go.mod
Labels: none

.github/labeler.yml:

go-module:
  - changed-files:
      - any-glob-to-any-file: "ruby/**/*"

ruby-gem:
  - changed-files:
      - any-glob-to-any-file: "gem/**/*"

ruby_h_to_go:
  - changed-files:
      - any-glob-to-any-file: "_tools/ruby_h_to_go/**/*"
